<!DOCTYPE html>
<html>
  <head>
    <body>

      <div class="container p-3 p-md-5">

          <h1>Création d'un Deal</h1>

          <!-- Formulaire -->
          <form id="createDeal" action="/Create" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Titre</label>
                    <input id="titre" type="text" class="form-control" placeholder="Titre">
                </div>
                <div class="form-group col-md-6">
                    <label>Description</label>
                    <input id="description" type="text" class="form-control" placeholder="Description" style="width:200px; height:200px;">
                </div>
            </div>

            <div class="form-row">
                <label>Prix</label>
                <div class="form-group col-md-6">
                    <label>Original</label>
                    <input id="priceOld" type="number" class="form-control" placeholder="priceOld">
                </div>
                <div class="form-group col-md-6">
                    <label >Remisé</label>
                    <input id="newPrice" type="number" class="form-control" placeholder="newPrice">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Enseigne</label>
                    <input id="compagny" type="text" class="form-control" placeholder="compagny">
                </div>
                <div class="form-group col-md-6">
                    <label>Code Promo</label>
                    <input id="promoCode" type="text" class="form-control" placeholder="promoCode">
                </div>
                <div class="form-group col-md-6">
                    <label>Lien vers l'image</label>
                    <input id="imgUrl" type="text" class="form-control" placeholder="imgUrl">
                </div>
            </div>

        <button onclick="/" type="button" id="annuler"> Annuler </button>
        <button type="submit" id="envoi" class="btn btn-primary mb-2">Poster</button>

    </form>
    </body>
  </head>
</html>

<script src="/formulaireDeal.js"></script>
