<!DOCTYPE html>
<html>
  <head>
    <title>Dealabs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Dealabs Page 1 Node</p>
    <button class="btn"><a href="/create">Create Deal</a></button>

    <table>
        <div class="container p-3 p-md-5">
            <tbody id="tbody"> </tbody>
        </div>
    </table>
    <script src= "/main.js"></script>
    </body>
</html>
