<!DOCTYPE html>
<html>
  <head>
    <title>Détail deal <%=iddeal%> </title>
    <h1> Deal Numéro : <%=iddeal%> </h1>
    <h2 id="IdDeal"><%=iddeal%></h2>
  </head>
  <body>
    <p>Détail d'un deal</p>

    <table>
        <div class="container p-3 p-md-5">
            <tbody id="tbody"> </tbody>
        </div>
    </table>
    <script src= "/detailDeal.js"></script>
  </body>
</html>